@import url('https://fonts.googleapis.com/css2?family=Raleway&display:300,400');

* {
  /*box-sizing: border-box;*/
  font-family: Raleway;
}

html, body {
    height: 100%;
    min-height: 100%;
  }


body {
    background: url(./images/shuksan.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:50% 35%;
  }

.navBar {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.75);
    font-size: 25px;
    padding: 5px;
    font-family: courier;
    border-radius: 5px;
}

.navBar a {
  text-decoration: none;
}

.navBar a:hover {
  background-color: rgba(156, 228, 250, 0.445);
  text-decoration: underline;
}

.navBar a {
  display: inline-block;
  color:rgb(43, 5, 58);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,.70);
    color: black;
    text-align: right;
    border-radius: 5px;
  }
  
  .content {
    border: solid 1px;
    padding: 20px;
    background: rgba(255,255,255,.85);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
    }

  .content h4 {
    color: red;
    font-size: 1.4em;
  }

  .cuba {
    float: left;
    margin: 15px;
    border-radius: 50%;
  }

.about-header {
  font-size: 2em;
  text-align: right;
  color:  rgb(4, 135, 211);
}

.content h3 {
  text-align: right;
  margin-top: -20px;
  font-size: 1em;
}

#about {
  text-align: left;
}

.hobbies {
  text-align: left;
}

.hobbies-list {
  text-align: left;
  list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.bio {
  text-indent: 40px;
  text-align: left;
}

