html, body {
    height: 100%;
    min-height: 100%;
  }


body {
    background: url(./images/shuksan.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:50% 35%;
  }

.navBar {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.75);
    font-size: 25px;
    padding: 5px;
    font-family: courier;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,.70);
    color: black;
    text-align: right;
    border-radius: 5px;
  }
  
  .content {
    border: solid 1px;
    padding: 20px;
    background: rgba(255,255,255,.85);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
    font-family: georgia;
    }

    .photo {
      padding: 30px;
    }

    .photo img {
    width: 400px;
    height: auto;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) 
.column {
  float: left;
  width: 15%;
  height: auto;
  padding: 5px;
}


/* Clear floats after image containers 
.row::after {
  content: "";
  clear: both;
  display: table;
  object-fit: contain;
}
*/

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  height: 40vh;
  flex-grow: 1;
}

li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/*

 Portrait */

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

/* Short screens */

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

/* Smaller screens in portrait */

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

img {
  cursor:pointer;

}

.hover-shadow {
  transition: 0.1s;
}

.hover-shadow:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}