html, body {
    height: 100%;
    min-height: 100%;
  }


body {
    background: url(./images/shuksan.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:50% 35%;
  }

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.85);
    font-size: 25px;
    padding: 5px;
    font-family: courier;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,.70);
    color: black;
    text-align: right;
    border-radius: 5px;
  }
  
  .content {
    border: solid 1px;
    padding: 20px;
    background: rgba(255,255,255,.85);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    text-align: center;
    /*width: 90%;*/
    font-family: georgia;
    }